# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
debug
rapina
*.db-journal
.vscode
bin/**

# Temporary and data files
*.zip
**/.data
*.csv
*.xls*
*.db
*.old
.vscode/*
*.sql
*_string.go
*.yaml
*.yml
!.travis.yml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Skip these (keep this at the end)
!.github/**
