{{define "body"}}

<script type="text/javascript">
  const pt = new Intl.NumberFormat("pt-BR", {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2,
  });

  function toggle(event, id) {
    if (event.target.tagName == "A") return;
    const e = document.getElementById(id);
    if (e.style.display == "none") {
      e.style.display = "block";
      e.style.opacity = 1;
      setToggleText(event.target, "&#11206;")
    } else {
      e.style.opacity = 0;
      setToggleText(event.target, "&#11208;")
      window.setTimeout(
        function removethis() {
          e.style.display = 'none';
        }, 100);
    }
  }

  function setToggleText(target, text) {
    switch (target.tagName) {
      case "SPAN":
        target.innerHTML = text;
        break;
      case "H3":
        event.target.querySelector("span").innerHTML = text;
        break;
      case "SMALL":
        event.target.parentNode.querySelector("span").innerHTML = text;
        break;
    }
  }

  function updateVal(num, stock) {
    let n = 0;
    try {
      n = parseFloat(num.replace(/\D/gu, ""), 10) / 100;
      var table = document.getElementById(stock);
      for (let i = 2, row; row = table.rows[i]; i++) {
        if (row.cells.length < 7) break;
        row.cells[5].innerText = "";
        row.cells[6].innerText = "";
        const price = parseLocaleNumber(num, "pt");
        if (price <= 0) continue
        const dividend = parseLocaleNumber(row.cells[1].innerText, "pt");
        const yeld = (dividend / price);
        if (!isNaN(yeld)) {
          const yearyeld = (1 + yeld) ** 12 - 1;
          row.cells[5].innerText = pt.format(100 * yeld) + "%";
          row.cells[6].innerText = pt.format(100 * yearyeld) + "%";
        }
      }

      if (isNaN(n)) n = 0;

    } catch (error) {
      return "";
    }

    const v = pt.format(n);
    localStorage.setItem("mark" + stock, v);
    return v
  }

  /**
   * Parse a localized number to a float.
   * @param {string} stringNumber - the localized number
   * @param {string} locale - [optional] the locale that the number is represented in. Omit this parameter to use the current locale.
   */
  function parseLocaleNumber(stringNumber, locale) {
    stringNumber = stringNumber.replace(/[^0-9.,]/gu, '');
    var thousandSeparator = Intl.NumberFormat(locale).format(11111).replace(/\p{Number}/gu, '');
    var decimalSeparator = Intl.NumberFormat(locale).format(1.1).replace(/\p{Number}/gu, '');

    return parseFloat(stringNumber
      .replace(new RegExp('\\' + thousandSeparator, 'g'), '')
      .replace(new RegExp('\\' + decimalSeparator), '.')
    );
  }

  function submitOnShiftEnter(event) {
    if (event.which === 13 && event.shiftKey) {
      event.preventDefault();
      localStorage.setItem("textarea_text", event.target.value);
      event.target.form.submit();
    }
  }

  window.onload = function () {
    document.getElementById("codes").value = localStorage.textarea_text || "";
    document.getElementById("codes").onchange = () => {
      localStorage.setItem("textarea_text", event.target.value);
    }
    document.getElementById("fii_form").onsubmit = () => {
      document.getElementById("waiting").style = "display:block;margin:4em auto;";
    }
    const marks = document.querySelectorAll('*[id^="mark"]');
    marks.forEach(mark => {
      if (localStorage[mark.id]) {
        mark.value = localStorage[mark.id];
        updateVal(mark.value, mark.id.replace(/mark/, ""))
      }
    });
  };
</script>

<h2>Rendimentos dos FII</h2>

<form id="fii_form" method="POST">
  <label>
    C&oacute;digos:
  </label>
  <textarea id="codes" name="codes" minlength="6" rows="1" cols="40" required autofocus
    onkeypress="submitOnShiftEnter(event)">{{.Codes}}</textarea>
  <label>
    Meses:
  </label>
  <input type="text" id="months" name="months" required size="2" value="{{if .Months}}{{.Months}}{{else}}6{{end}}"
    style="text-align: center;" />
  <input type="submit" value="Ok" />
</form>

{{if not .Data}}
<div id="waiting" style="display:none;" class="spinner-1"></div>
{{else}}
{{range .Data}}
<h3 onclick="toggle(event, '{{.Code}}');" style="cursor: default;">
  <span>&#11206;</span> {{.Code}}
  <!-- <a href="{{.Website}}" target="_blank" class="small blue">{{.Name}}</a> -->
</h3>

<table id="{{.Code}}" class="report">
  <thead>
    <tr>
      <th colspan="3" style="width: 60%;"><a href="{{.Website}}" target="_blank" class="small blue">{{.Name}}</a>
      </th>
      <th colspan="2" style="text-align: center; width: 18%;">Yeld</th>
      <th colspan="2" style="text-align: center; width: 22%;">Yeld
        <input id="mark{{.Code}}" name="mark{{.Code}}" style="width: 5rem; text-align: right;"
          onkeyup="updateVal(this.value, '{{.Code}}');"
          onfocusout="this.value=pt.format(parseLocaleNumber(this.value, 'pt'));" />
      </th>
    </tr>
    <tr>
      <th>Data Com</th>
      <th>Rendimento</th>
      <th>Cotação</th>
      <th>a.m.</th>
      <th>a.a.</th>
      <th>a.m.</th>
      <th>a.a.</th>
    </tr>
  </thead>
  <tbody>
    {{range .Values}}
    <tr>
      <td class="date">{{.Date}}</td>
      <td class="currency">R$ {{ptFmtFloat .Dividend}}</td>
      <td class="currency">R$ {{ptFmtFloat .Quote}}</td>
      <td class="percent">{{ptFmtFloat .Yeld}}%</td>
      <td class="percent">{{ptFmtFloat .YeldYear}}%</td>
      <td class="percent"></td>
      <td class="percent"></td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
{{end}}

{{end}}